.bouton-retour {
  display: flex;
  height: 25px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  transition: opacity 0.2s ease;
  margin-top: 4px;
}

.bouton-retour:hover {
  opacity: 0.7;
}

.button-text {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  justify-content: center;
  line-height: 0;
  color: #50caff;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
  flex-shrink: 0;
}

.button-text p {
  line-height: normal;
  margin: 0;
}
