.bouton-mdp-oublie {
  height: 20px;
  width: 139px;
  position: relative;
  cursor: pointer;
  transition: opacity 0.2s ease;
  margin-top: -8px;
  align-self: center;
}

.bouton-mdp-oublie:hover {
  opacity: 0.7;
}

.button-content {
  height: 20px;
  width: 139px;
  position: relative;
}

.button-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  inset: 0;
  justify-content: center;
  line-height: 0;
  color: #50caff;
  font-size: 12px;
  text-align: center;
}

.button-text p {
  line-height: normal;
  white-space: pre-wrap;
  margin: 0;
}
