.diviseur {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  max-width: 350px;
  gap: 16px;
  margin: 12px 0;
}

.line {
  flex: 1;
  height: 1.5px;
  background-color: #50caff;
  border-radius: 1px;
  width: 76px;
}

.text {
  color: var(--Primaire, #50CAFF);
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 768px) {
  .diviseur {
    max-width: 100%;
  }

  .text {
    font-size: 14px;
  }
}